<form [formGroup]="changePasswordForm" (ngSubmit)="onSubmitChangePassword()" class="change-password__form">
  <div>
    <!-- Current Password Input Field -->
      <mat-form-field *ngIf="handlerDisplay()" color="accent" class="field-full-width">
        <mat-label>Current Password</mat-label>
        <input type="password" matInput #currentPassword class="form-control" placeholder="Enter current password"
               formControlName="currentPassword" autocomplete="off" [type]="hideCurrentPassword ? 'password' : 'text'"
               name="currentPassword"
               maxlength="50" required>
        <button mat-icon-button matSuffix type="button" (click)="hideCurrentPassword = !hideCurrentPassword"
                [attr.aria-label]="'Hide Current password'"
                [attr.aria-pressed]="hideCurrentPassword">
          <mat-icon class="password-icon">{{hideCurrentPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-hint align="end">{{currentPassword.value.length || 0}}/50</mat-hint>
        <mat-error *ngIf="changePasswordForm.controls['currentPassword'].hasError('required')">
          Current Password <strong>required</strong>
        </mat-error>
      </mat-form-field>

    <!-- New Password Input Field -->
    <mat-form-field color="accent" class="field-full-width">
      <mat-label>New Password</mat-label>
      <input type="password" matInput #newPassword class="form-control" placeholder="Enter new password"
             formControlName="newPassword" autocomplete="off" [type]="hideNewPassword ? 'password' : 'text'"
             name="password"
             maxlength="50" required>
      <button mat-icon-button matSuffix type="button" (click)="hideNewPassword = !hideNewPassword"
              [attr.aria-label]="'Hide New password'"
              [attr.aria-pressed]="hideNewPassword">
        <mat-icon class="password-icon">{{hideNewPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-hint align="end">{{newPassword.value.length || 0}}/50</mat-hint>
      <mat-error *ngIf="changePasswordForm.controls['newPassword'].hasError('required')">
        New Password <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <!-- Confirm Password Input Field -->
    <mat-form-field color="accent" class="field-full-width">
      <mat-label>Confirm Password</mat-label>
      <input type="password" matInput #confirmPassword class="form-control" placeholder="Enter confirm password"
             formControlName="confirmPassword" autocomplete="off" [type]="hideConfirmPassword ? 'password' : 'text'"
             name="confirmPassword"
             maxlength="50" required>
      <button mat-icon-button matSuffix type="button" (click)="hideConfirmPassword = !hideConfirmPassword"
              [attr.aria-label]="'Hide confirm password'"
              [attr.aria-pressed]="hideConfirmPassword">
        <mat-icon class="password-icon">{{hideConfirmPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-hint align="end">{{confirmPassword.value.length || 0}}/50</mat-hint>
      <mat-error *ngIf="changePasswordForm.controls['confirmPassword'].hasError('required')">
        Confirm Password <strong>required</strong>
      </mat-error>

      <!-- Error for Confirm Password must match -->
      <mat-error *ngIf="changePasswordForm.controls['confirmPassword'].hasError('mustMatch')">
        Confirm passwords must match <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </div>

  <!-- Action buttons -->
  <div mat-actions class="change-password__actions">

    <!-- Submit button -->
    <button mat-raised-button color="primary"
            type="submit"
            [disabled]="!allowedSubmit()">
      Submit
    </button>

    <!-- Cancel button if userData is present -->
    <a *ngIf="userData" mat-flat-button (click)="closeClick()">Cancel</a>

    <!-- Back button if no userData is present -->
    <a *ngIf="!userData" mat-flat-button [routerLink]="['../' + AppRouteEnum.Login]">Back</a>
  </div>
</form>

<!-- Spinner to indicate loading -->
<mat-progress-spinner
  *ngIf="dataLoading"
  color="primary"
  diameter="70"
  mode="indeterminate"
  class="reset-spinner"
>
</mat-progress-spinner>
