// Variables for colors and fonts
$black: #000000;

$white: #FFFFFF;

$gray: #333333;
$gray-light: #f5f5f5;
$gray-dark: #dbdbdb;


$red: #ff0000;
$green: #00ff00;

// Variables for elements
$border: #3333334f;
$border-light: #f5f5f5;
