.users-statistics {
  &__description {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid #e0e0e0;
    padding: 10px 20px 10px 0;

    &-items {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      width: 100%;
    }

    &-title {
      font-size: 16px;
      font-weight: 600;
      padding: 10px 20px 10px 0;
    }

    &-status {
      font-size: 16px;
      font-weight: 600;
    }
  }

  &__charts {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  &__chart {
    margin-top: 20px;
    width: 50%;

    &_full {
      width: 100%;
    }
  }
}

.users-spinner {
  position: absolute;
  left: 50%;
  top: 10%;
}
