<div class="posts">

  <!-- Filter panel component -->
  <div class="posts__filter">
    <app-posts-filter-panel></app-posts-filter-panel>
  </div>

  <!-- Grid of posts -->
  <div class="posts__grid">
    <app-preview-post
      *ngFor="let post of posts$ | async; trackBy: trackByFn; let i = index"
      [post]="post"
    ></app-preview-post>
  </div>


  <!-- Paginator component -->
  <mat-paginator class="demo-paginator"
                 (page)="handlePageEvent($event)"
                 [length]="length"
                 [pageSize]="pageSize"
                 [disabled]="disabled"
                 [showFirstLastButtons]="showFirstLastButtons"
                 [pageSizeOptions]="showPageSizeOptions ? pageSizeOptions : []"
                 [hidePageSize]="hidePageSize"
                 [pageIndex]="pageIndex"
                 aria-label="Select page">
  </mat-paginator>

  <!-- Spinner to indicate loading -->
  <mat-progress-spinner
    *ngIf="dataLoading"
    color="primary"
    diameter="70"
    mode="indeterminate"
    class="posts-spinner"
  >
  </mat-progress-spinner>

</div>
