.posts {
  padding: 20px;
  position: relative;

  &__grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
  }

  &__btn {
    margin: 0 20px 0 0;
  }
}

.posts-spinner {
  position: absolute;
  left: 50%;
  top: 10%;
}

