.mdc-data-table__cell, .mdc-data-table__header-cell {
  padding: 0 7px 0 7px;
}

.users-table {
  position: relative;

  &__container {
    max-height: 750px;
    overflow: auto;
  }

  &__avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    max-height: 100px;
    overflow: hidden;

    &_inactive {
      opacity: 0.3;
      filter: grayscale(1);
    }

    img {
      display: block;
      width: 70px;
      height: 70px;
      border-radius: 50%;
      border: 2px solid wheat;
      object-fit: cover;
    }
  }

  &__status {
    &-active {
      color: green;
    }

    &-inactive {
      color: red;
    }
  }

  &__paginator {
    width: 100%;
  }
}

table {
  width: 100%;
}

.mat-column-id {
  max-width: 50px;
  padding: 0 10px 0 16px;
}

.mat-column-avatar {
  max-width: 100px;
  padding: 10px;
}

.mat-column-email {
  //max-width: 200px;
}

.mat-column-status {
  //max-width: 78px;
}

.mat-column-birthAt {
  //max-width: 50px;
}

.mat-column-actions {
  min-width: 110px;
  width: 110px;
}


.data-spinner {
  position: absolute;
  left: 50%;
  top: 50%;
}
