<div class="dialog-post">

  <!-- Post Header -->
  <div class="dialog-post__header">
    <div class="dialog-post__title">
      <p>{{this.currentPost ? this.currentPost.title : 'Add Post'}}</p>
      <p *ngIf="this.currentPost" class="dialog-post__subTitle">
        Author:
        {{this.currentPost ? this.currentPost.user.firstName : ''}}
        {{this.currentPost ? this.currentPost.user.lastName : ''}}
      </p>
      <p *ngIf="this.currentPost" class="dialog-post__subTitle">
        Role: {{ this.currentPost ? (this.currentPost.user.role | roles) : '' }}
      </p>
    </div>

    <!-- Avatar -->
    <div class="dialog-post__avatar">
      <!-- Avatar image -->
      <label class="hoverable" for="fileInput">
        <img [src]="pictureUrl ? pictureUrl : pictureDefault">
        <div class="hover-text">Choose file</div>
        <div class="background"></div>
      </label>
      <br/>
      <!-- Input for selecting avatar image -->
      <input
        name="fileInput"
        id="fileInput"
        type='file'
        accept="image/*"
        (change)="handleImageLoaded($event)">
    </div>

    <!-- Button to delete avatar -->
    <button *ngIf="pictureUrl"
            mat-icon-button
            (click)="deletePicture()"
            class="dialog-post__iconClose"
            tabindex="-2"
            matTooltip="Delete avatar">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <!-- Post Form -->
  <form [formGroup]="postForm" novalidate (ngSubmit)="onSubmitPost()" class="dialog-post__form">
    <div mat-dialog-content>

      <!-- Title Input -->
      <mat-form-field class="example-full-width">
        <mat-label>Title</mat-label>
        <input matInput class="form-control" placeholder="Title" formControlName="title">
      </mat-form-field>

      <!-- Description Input -->
      <mat-form-field class="example-full-width">
        <mat-label>Description</mat-label>
        <input matInput class="form-control" placeholder="Description" formControlName="description">
      </mat-form-field>

      <!-- Content Input -->
      <mat-form-field class="example-full-width">
        <mat-label>Content</mat-label>
        <textarea matInput class="form-control" placeholder="Content..." rows="5" formControlName="content"></textarea>
      </mat-form-field>

      <!-- Select Categories -->
      <mat-form-field class="example-full-width">
        <mat-label>Select categories</mat-label>
        <mat-select formControlName="categories" placeholder="Favorite food" multiple [compareWith]="isSameCategory">
          <mat-option *ngFor="let category of listAllCategories trackBy: trackByFn; let i = index" [value]="category">
            {{category.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>


      <!--      <mat-form-field class="example-full-width">-->
      <!--        <mat-label>Select categories</mat-label>-->
      <!--        <mat-select formControlName="categories" multiple [compareWith]="isSameCategory">-->

      <!--          <mat-select-trigger>-->
      <!--            <mat-chip-listbox>-->
      <!--              <mat-chip-option *ngFor="let category of postForm.controls['categories'].value"-->
      <!--                               [value]="category"-->
      <!--                               [selected]="true"-->
      <!--                               [removable]="true"-->
      <!--                               (removed)="onToppingRemoved(category)">-->
      <!--                {{ category.name }}-->
      <!--                <mat-icon matChipRemove>cancel</mat-icon>-->
      <!--              </mat-chip-option>-->
      <!--            </mat-chip-listbox>-->
      <!--          </mat-select-trigger>-->

      <!--          <mat-option *ngFor="let category of listAllCategories; trackBy: trackByFn; let i = index"-->
      <!--                      [value]="category">{{category.name}}</mat-option>-->

      <!--        </mat-select>-->
      <!--      </mat-form-field>-->

      <!--      <br/>-->
      <!--      {{  postForm.controls['categories'].value | json }}-->


    </div>

    <!-- Checkbox for Publishing -->
    <p>
      <mat-checkbox formControlName="published">Published</mat-checkbox>
    </p>

    <!-- Form Actions -->
    <div mat-dialog-actions class="dialog-post__actions">
      <!-- Submit Button -->
      <button mat-raised-button color="primary"
              type="submit"
              [disabled]="!postForm.valid"
              [mat-dialog-close]="true">
        {{this.data.newPost ? 'Create' : 'Update'}}
      </button>
      <!-- Cancel Button -->
      <button mat-raised-button color="accent"
              type="button"
              [mat-dialog-close]="1"
              (click)="onNoClick()"
              tabindex="-1">Cancel
      </button>
    </div>
  </form>

  <!-- Spinner to indicate loading -->
  <mat-progress-spinner
    *ngIf="dataLoading"
    color="primary"
    diameter="70"
    mode="indeterminate"
    class="post-spinner"
  >
  </mat-progress-spinner>
</div>
