@import '../../../../styles/color-variables';


.additional-selection {
  opacity: 0.75;
  font-size: 0.75em;
}

.select-container {
  margin-top: 10px;
}

.filters {
  margin-bottom: 20px;

  &__content {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 0 !important;
  }

  &__field {
    margin: 0 25px 0 0;
  }

  &__select {
    .cdk-overlay-pane {
      top: 100px !important;
    }
  }

  &__option {
    &_clearAll {
      background: $gray-dark;
      border-top: 1px solid $border;
      bottom: 0;
      z-index: 3000 !important;
      width: -webkit-fill-available;
      &:hover:not(.mdc-list-item--dissabled){
        background: $gray-dark;
        z-index: 3000;
      }
    }
  }

  &__btnAdd {
    margin: 0 20px 0 0;
    min-height: 40px;
    height: auto;
  }

}

/* Responsive */
@media (max-width: 765px) {
  .filters {
    &__content {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    &__field {
      margin: 0 0 20px;
      width: 100%;
    }
  }
}
