.filters {
  margin: 0 0 25px;

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 0!important;
  }

  &__input {
    margin: 0 20px 0 0;
    width: 200px;
  }
}
