@import '../../../../styles/color-variables';

.filters {
  margin: 0 0 20px;

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 0!important;
  }

  &__input {
    margin: 0 20px 0 0;
    width: 200px;
  }

  &__option {
    &_toggle {
      background: $gray-dark;
      border-top: 1px solid $border;
      bottom: 0;
      z-index: 3000 !important;
    }
  }
}

/* Responsive */
@media (max-width: 720px) {
  .filters {
    &__content {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    &__input {
      margin: 0 0 20px;
      width: 100%;
    }
  }
}
